# data manipulation
pandas
numpy
tqdm # progress bar
pyyaml
seaborn
pdfplumber

# PDF adn text
pymupdf       # (fitz) - the best tool for reading pdf nowadays - preserves layout better than old PyPDF2
langchain     # good for chunking (later)
langchain-text-splitters
unidecode

# Jupyter
jupyter
ipykernel
matplotlib    # graphs in notebooks
seaborn

# Web Scraping and API (Added)
requests      # Essential for calling the Ministry of Justice API
beautifulsoup4 # For parsing HTML pages (web scraping)
curl_cffi     # Advanced requests to impersonate browsers (tried for Constitutional Court)
playwright    # Browser automation tool (tried for Otvorene Sudy)


# Database for vectorised text
chromadb
sentence-transformers

# Tokenizer
tiktoken
